img {
  display: block;
  height: 200px;
}

.container label {
  display: block;
  background-color: bisque;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.container  {
  width: 100%;
  display: block;
}
